<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user %> !</h1>
    
   <p>Reddit Stories of interest: </p>
    <%= @url %>
    <%= @reddit_stories %>

    <p>Adjust your preference 'here'.</p>
  </body>
</html>