<h1>Welcome to Two Minute Break!</h1>

<h1>Hello!</h1>


<ul>
<% @reddit_stories.each do |story| %>

	<li>
	<%= story %>
	</li>

</ul>
<% end %>


<p>ABOUT</p>
<%= link_to "my two minute breaks", controller: "wires" %> | 
<%= link_to 'New wire', new_wire_path %> 

