<p>
	<strong>Title:</strong>
	<%= @wire.title %>
</p>

<p>

</p>
	<strong>Frequency:</strong>
	<%= @wire.frequency %>
</p>

<%= link_to 'Back', wires_path %>
| <%= link_to 'Edit', edit_wire_path(@wire) %>